/*Definindo a altura e largura da imagem do logo*/
.logo img {
    height: 100px;
    width: auto;
}

/*Definindo a margem à direita para os itens do cabeçalho*/
.nav-link {
    margin-right: 95px; /*Configuração que arruma todos os itens do cabeçalho*/
}

/*Definindo o sublinhado para o link em que a pessoa está*/
.navbar-nav .nav-link.active {
    text-decoration: underline;
}

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

/*Configurando o estilo da search box*/
.inline-search-component {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
  
.inline-search-component.active {
    height: auto;
  }
  
.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
/*Definindo o fundo da caixa de pesquisa e outras propriedades*/
.inline-search-input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(26, 24, 24, 0.5);
  outline: 1px solid #000000;
  border-radius: 20px;
}

.inline-search-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.icon-container {
  margin-left: 10px;
}

.inline-search-component {
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
}

.inline-search-component.active .search-container {
  padding: 10px 20px;
}

.icon-container {
  position: static;
  transform: none;
  margin-left: 0;
}

header {
  position: relative;
}
